/* src/LoginPage.css */
.login-page {
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 50px;
  }
  
  .login-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #61dafb;
    color: white;
    transition: background-color 0.3s ease;
    text-decoration: none;
  }
  
  .btn:hover {
    background-color: #21a1f1;
  }
  